:root {
  --mainColor: #0a3131ea;
  --secondaryColor: #d3d3d3;
  --titleColor: #4d97a8;
  --linksColor: #f0ffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--linksColor);
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

/*-----typography-------*/
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/*-------header-------*/
.container {
  max-width: 100%;
}
header {
  background-color: var(--mainColor);
  padding: 1.5rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  color: rgb(99, 88, 88);
  font-style: bold;
  font-size: 1rem;
}
.nav-menu li {
  padding: 0.75rem;
}
.nav-menu ul {
  display: flex;
  list-style-type: none;
  font-size: 1.25rem;
  font-family: "Copse", serif;
}

.nav-menu a {
  text-decoration: none;
  color: var(--linksColor);
}

.menu-bar {
  color: #f0ffff;
  display: none;
  cursor: pointer;
}
.nav-bar a:hover,
.nav-bar a:focus {
  border-bottom: #8ec2e0 0.125em solid;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--mainColor);
  margin-bottom: 1rem;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.cart-item {
  position: relative;
}
#cart-items-no {
  position: absolute;
  top: 0.35rem;
  right: 2rem;
  padding-left: 5%;
  border-radius: 50%;
  background-color: rgb(249, 247, 252);
  color: #ff0000;
  width: 25px;
  padding: 3px;
  text-align: center;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  margin-right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  margin-right: 1rem;
  background-color: white;
  border-radius: 10px;
}
a:hover .toggle-button {
  text-decoration: none;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
  }
  .navigation {
    flex-direction: column;
  }
  .navbar-links ul {
    width: 50%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .cart-item {
    position: relative;
  }

  #cart-items-no {
    top: 250px;
    left: 13rem;
    border-radius: 50%;
    background-color: rgb(249, 247, 252);
    color: #ff0000;
    width: 25px;
    padding: 3px;
    text-align: center;
  }
}

/*------------New products------------*/

.transition {
  transition: width 1s, height 1s, transform 2s;
}

.transition:hover {
  width: 300px;
  height: 300px;
  transform: rotate(360deg);
}
.new-products {
  margin-top: 1rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  color: var(--titleColor);
  font-weight: 400;
}
.row {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.col-4 {
  width: 20%;
}
.col-4 img {
  max-width: 100%;
  width: 100%;
  height: 200px;
}
.transition {
  width: 20%;
}
.transition img {
  max-width: 100%;
  width: 100%;
  height: 200px;
}
@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  .col-4 {
    width: 50%;
    margin-top: 0.75rem;
  }
}
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .caption {
    visibility: hidden;
  }
  .col-4 {
    width: 90%;
    margin-top: 0.75rem;
  }
  .transition {
    width: 90%;
  }
}

/*-------------categories--------*/

.categories {
  margin: 1rem;
}
.categories col-4 {
  position: relative;
}
.row {
  padding: 1rem;
}
.caption {
  position: absolute;
  top: 95rem;
  background-color: var(--mainColor);
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.25rem;
  text-decoration: none;
}
.caption:hover {
  padding: 0.75rem;
  color: cornflowerblue;
}
.categories img {
  opacity: 0.7;
}

/*-----ABOUT PAGE------*/
.about-section {
  background-color: rgb(243, 229, 229);
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
}
.about-info {
  width: 30%;
  padding-left: 1rem;
}
.about-info p {
  font-weight: 400;
  font-style: italic;
}
.span {
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
}

.about-image {
  width: 70%;
}
.about-image img {
  width: 90%;
}
.about-row {
  text-align: center;
  margin: 1rem;
}
.history {
  text-transform: capitalize;
}
.history h4 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

/*---media queries for about section (small size screens)---*/

@media (max-width: 600px) {
  .about,
  .about-row {
    flex-direction: column;
  }
  .about {
    padding-top: 1.5rem;
  }
  .about-info,
  .about-image {
    width: 100%;
  }
}
/*--------FACE CATEGORY------*/

.row-1 {
  display: flex;
  justify-content: space-around;
}
.col-5 {
  width: 18%;
}

.col-5 img {
  width: 100%;
  display: block;
}
.row-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
button {
  margin-top: 0.75rem;
  padding: 0.125rem;
  background-color: var(--mainColor);
  color: #fff;
  border: 1px solid var(--secondaryColor);
  padding: 0.25rem;
}
/*----MEDIA QUERIES FOR SMALL & MEDIUM SCREENS----*/

@media screen and (max-width: 992px) {
  .row-1,
  .row-2 {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .col-5 {
    width: 40%;
    margin-top: 0.75rem;
  }
}

@media (max-width: 600px) {
  .row-1,
  .row-2 {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .col-5 {
    width: 100%;
    margin-top: 0.75rem;
  }
}
/*-------eye category------*/
.eye-wrapper {
  margin: 2rem;
}
.eye-wrapper img {
  height: 250px;
  max-width: 100%;
}

/*---------lips category-------*/
.lip-wrapper {
  margin: 2rem;
}
.lip-wrapper img {
  height: 250px;
  max-width: 100%;
}

/*----------accessory category----*/
.accessory-wrapper {
  margin: 2rem;
}
.accessory-wrapper img {
  max-width: 100%;
  height: 250px;
}
/*--------face category-------*/
.face-wrapper {
  margin: 2rem;
}
.face-wrapper img {
  max-width: 100%;
  height: 250px;
}
/*--------cart details page-------*/
.cart-content {
  display: flex;
  flex-direction: row;
}

/*--------contact form---*/

.contact-title {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}
#contact-form {
  display: block;
  background-color: var(--secondaryColor);
  color: #000;
  max-width: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  line-height: 2.7rem;
  margin-bottom: 1.5rem;
}
input {
  display: block;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 14px;
}
#message {
  width: 100%;
  height: 50px;
}
#submit-btn {
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 1rem;
}
/*----------Footer-----*/
.footer {
  background-color: var(--mainColor);
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-col-1 {
  width: 50%;
}
.footer-col-1 p {
  font-size: 0.75rem;
}
.updates {
  display: flex;
}
.updates input {
  width: 50%;
}

.footer-col-2 {
  width: 25%;
}
.footer-col-2 li {
  list-style-type: none;
}
.footer-col-3 {
  width: 25%;
}
.footer-col-3 li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
}
.footer-col-2 li a:hover {
  color: cornflowerblue;
}
.footer-col-3 li a:hover {
  color: cornflowerblue;
}
.footer-bottom {
  text-align: center;
  padding: 2rem;
}
/*---media queries for footer-----*/
@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 50%;
    margin-top: 0.75rem;
  }
}
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 100%;
    margin-top: 0.75rem;
  }
}
